<!DOCTYPE html>
<html>
<head>
    <title>Project HONG - Contract Explorer</title>


<% include template/header_script.ejs %>

<style>
.site_title{text-align: center;}
select{display: block}
.testnet_notice{color:#ff0000;}
</style>
</head>

<body>


<div class="container">
    <h4 class="site_title">HONG Contract Explorer <span class="testnet_notice">[TESTNET]</span></h4>

    <div>Viewing contract: <%=contract%></div>




</div>

<script type="text/javascript">

</script>

<% include template/footer.ejs %>

